@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "nativewind/theme";

@theme {
  --color-background: "#EFF1C5";
  --color-primary: "#002E2C";
  --color-primary-contrast: "#FFFFFF";
  --color-secondary: "#035E7B";
  --color-text-primary: "#04080F";
  --color-text-secondary: "#BFC6C4";
  --color-error: "#9E2A2B";
  --color-warning: "#FABC3C";
}
